<ul class="menu-root">
  <% if (page.path.match(/\/tooling\//)) { %>
    <li><h3>Tooling</h3></li>
    <li>
      <a href="http://editor.asyncapi.org" class="sidebar-link" target="_blank">Online editor</a>
    </li>
  <% } %>
    
  <% site.pages.find({type: type}).sort('order').each(function (p) { %>
    <li>
      <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
    </li>
  <% }) %>
</ul>
