<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.png") %>">
    </div><div class="right">
      <h2>AsyncAPI</h2>
      <h1>
        Define your<br>Message-Driven APIs
      </h1>
      <p>
        <a class="button" href="<%- url_for("/v1/guide/") %>">GET STARTED</a>
        <a class="button white" href="https://github.com/asyncapi/asyncapi" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Machine Readable</h2>
      <p>AsyncAPI allows you to create machine-readable definitions of your Message-Driven APIs.</p>
    </div>

    <div class="point">
      <h2>Human Friendly</h2>
      <p>Easy and intuitive for humans at a glance. Tooling is provided to help you write your API definitions.</p>
    </div>

    <div class="point">
      <h2>Open Source</h2>
      <p>
        It is Open Source and community-driven. Your contributions are more than welcome.
      </p>
    </div>
  </div>
</div>

<div id="footer">
  <p>Released under the <a href="https://opensource.org/licenses/Apache2.0" target="_blank">Apache 2.0 License</a><br></p>
</div>
